/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #333;
    padding: 20px;
}

/* Header simple */
.main-header {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.main-header h1 {
    font-size: 24px;
    font-weight: 700;
}


/* Layout Principal */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.cart-items {
    flex: 2; /* Ocupa el 66% del espacio */
    min-width: 600px;
}

/* Sistema de Grid para la tabla */
.cart-row {
    display: grid;
    /* 2 partes para nombre, 1 para el resto */
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #f0f0f0;
}

.header-row {
    font-size: 14px;
    color: #555;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/* Tipografía de productos */
.col-product h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.col-product .ref {
    font-size: 13px;
    color: #888;
}